# Exclude virtual environments and data directories
global-exclude venv/
global-exclude myenv/
global-exclude env/
global-exclude *.pyc
global-exclude __pycache__/
recursive-exclude data *
recursive-exclude scripts *

